<h1>About Scout</h1>
<p>Scout is an online forum for travelbugs and photographers to share their travel experiences with a community of fellow explorers and nomads. Scout was created with the goal of providing a simple way for trip-planners to visualize a destination using photos uploaded by fellow Scouts, without the irrelevant clutter of a google image search or the geo-tag inaccuracy and chronological constraints of an Instagram feed.</p>

<p>Whether you're planning your next trip or day-dreaming from your cubicle, we hope you make Scout a key part of your next adventure.</p>