<div class="jumbotron">
    <div class="container">
    <h1>Contact Us</h1>
	<p>Scout was born in a 5th floor walk-up apartment in New York, New York</p>
	<p>Email: gus.hobbs@gmail.com</p>  
    </div>
</div>